# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Supabase Project URL
NEXT_PUBLIC_SUPABASE_URL=

# Supabase Anon Key (public)
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Supabase Service Role Key (keep this secret!)
SUPABASE_SERVICE_ROLE_KEY=

# Supabase JWT Secret
SUPABASE_JWT_SECRET=

# Supabase Database URL
SUPABASE_DB_URL=

# Supabase GraphQL URL
SUPABASE_GRAPHQL_URL=